.topbar{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 2px solid whitesmoke;
  padding: 15px;
  border-radius: 8px;
  height: 90px;
}

.topbar img{
  height: 90px;
}

.box-score{
  color: var(--dark-text);
  border: 2px solid whitesmoke;
  width: 100px;
  height: 100%;
  flex-direction: column;
  border-radius: 8px;
  text-align: center;  
  background-color: whitesmoke;
}

.box-score p{
  font-size: 12px;
  margin-bottom: 0px;
  letter-spacing: 2px;
  font-weight: 600;
}

.box-score h4{
  margin-top: 0px;
  font-size: 45px;
}