

.App{
  width: 100%;
}

.container{
  margin: 0 auto;
  margin-top: 10px;
}

@media (min-width: 300px) {
  .container{
    width: 90%;
  }
}

@media (min-width: 992px) {
  .container{
    width: 50%;
  }
}